body{
 margin: 0;
 font-family: 'Poppins',
 sans-serif;
}
h1{
    font-size: 50px;
}
section{
    height:500px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.name-hilight{
    color:orange;
}
.halfwidth{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfwidth img{
    width:100%;
}